<!DOCTYPE html>
<html>
<head>
    <title>Webcam Gaze Detection</title>
</head>
<body>
    <h1>Webcam Gaze Detection</h1>
    <p>Press "Start" to begin webcam feed.</p>
    <button onclick="startWebcam()">Start</button>
    <button onclick="stopWebcam()">Stop</button>
    <div>
        <video id="video" width="640" height="480" autoplay></video>
    </div>
    <script>
        let video = document.getElementById('video');

        function startWebcam() {
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch(function (err0r) {
                        console.log("Something went wrong!");
                    });
            }
        }

        function stopWebcam() {
            let stream = video.srcObject;
            let tracks = stream.getTracks();

            tracks.forEach(function (track) {
                track.stop();
            });

            video.srcObject = null;
        }
    </script>
</body>
</html>
